.user-item {
  padding: 2px;
  border: 1px solid grey;
  width: fit-content;
  margin: 2px;
  &:hover {
    cursor: pointer;
    background: grey;
    color: white;
    transition: 0.2s ease-in;
  }
}
